{% extends 'prototype.html' %}


{% block title %}

    {{ specific_product.headline }}

{% endblock %}


{% block content_headline %}

    <img src="../static/{{ specific_product.headline + '/' + specific_product.img_title }}">

    &nbsp;{{ specific_product.headline }}

{% endblock %}


{% block content %}

    <p> &nbsp;&nbsp;{{ specific_product.text }} </p>

    &nbsp;Author: <a href="{{ url_for('define_profile', username=specific_product.author) }}">{{ specific_product.author }}</a>
    <br>  &nbsp;Post creation date: {{ specific_product.date_creation }}

    <br><br>

    <form action="{{ url_for( 'buypage.add_to_cart', slug=specific_product.slug ) }}" method="GET">
        <button type="submit" class="btn btn-success">Add to cart</button>
    </form>


    <style>

    img {
             width: 750px;
             height: 550px;
            }

    </style>

{% endblock %}
