{% extends 'prototype.html' %}


{% block title %}

    {{ specific_product.headline }}

{% endblock %}


{% block content_headline %}

    {{ specific_product.headline }}

{% endblock %}


{% block content %}

    <p> &nbsp;{{ specific_product.text }} </p>

    &nbsp;Author: {{ specific_product.author }}  <br>  Post creation date: {{ specific_product.date_creation }}

    <br><br>

    <form action="{{ url_for( 'buypage.add_to_cart', slug=specific_product.slug ) }}" method="GET">
        <button type="submit" class="btn btn-success">Add to cart</button>
    </form>

{% endblock %}