{% extends 'prototype.html' %}


{% block title %}

    Adding product

{% endblock %}


{% block content_headline %}

    Adding product:

{% endblock %}


{% block content %}


    <div class="col-md-6">

        {% if error %}

        <div class="alert alert-danger" role="alert">

              {{ error }}

        </div>

        {% endif %}

        <form action="{{ url_for('add_page') }}" method="POST" enctype="multipart/form-data">

            {% for form in adding_products_forms %}
            
                <div class="form-group">

                        {{ form.label(class='control-label') }}
                        {{ form(class='form-control') }}

                </div>

            {% endfor %}


            <input type="file" name="inputFile" accept="image/*">

            <br><br>

            <button type="submit" class="btn btn-success">To add</button>


        </form>
        
    </div>

{% endblock %}