{% extends 'prototype.html' %}


{% block title %}

    Profile

{% endblock %}


{% block content_headline %}

    {% if specific_user not in all_users: %} <!-- What to do if there is no user with this name -->
        This user does not exist

    {% endif %}


    {% if specific_user == current_user %} <!-- What if this is a current user profile -->

        &nbsp;Your profile:


    {% else %} <!-- What if this is someone else's profile -->
        {{ specific_user.name }}'s profile

        {% if current_user.has_role('Administrator') %}
            <form action="{{ url_for('define_profile', username=specific_user.name) }}", method="POST">
                <button type="submit" class="btn btn-danger">Add to blacklist</button>
            </form>
        {% endif %}

        <!-- Moderator can not block the Administrator -->
        {% if not specific_user.has_role('Administrator') and current_user.has_role('Moderator') %}
            <form action="{{ url_for('define_profile', username=specific_user.name) }}", method="POST">
                <button type="button" class="btn btn-danger">Add to blacklist</button>
            </form>
        {% endif %}



    {% endif %}


{% endblock %}


{% block content %}



{% endblock %}