<!DOCTYPE html>

<html lang="en">

<head>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
          crossorigin="anonymous">

    <link rel="stylesheet" href={{ url_for('static', filename='css/bootstrap.css') }}

    <meta charset="UTF-8">

    <nav class="navbar navbar-dark bg-dark">
        <a class="navbar-brand" href="{{ url_for('welcome_page') }}">Online Store</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">

                    <span class="navbar-toggler-icon"></span>

        </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">

         {% if not current_user.is_authenticated %}

              <li class="nav-item">

                  <a class="nav-link" href="/login">Log in</a>

              </li>

        {% endif %}


         {% if not current_user.is_authenticated %}

              <li class="nav-item">

                    <a class="nav-link" href="/registration">To Register</a>

              </li>

          {% endif %}

          {% if current_user.has_role('Administrator') %}

              <li class="nav-item">

                    <a class="nav-link" href="/admin">Admin panel</a>

              </li>

           {% endif %}


          {% if current_user.is_authenticated %}

              <li class="nav-item dropdown">

                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Deals</a>

                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">

                        <a class="dropdown-item" href="/buy">Buy</a>

                        <a class="dropdown-item" href="/sell">Sell</a>

                    </div>

              </li>

        {% endif %}


          {% if current_user.is_authenticated %}

              <li><a class="nav-link" href="{{ url_for('cart_page') }}">Shopping Cart</a></li>

          {% endif %}

          {% if current_user.is_authenticated %}

             <ul class="nav navbar-nav">

                 <li><a class="nav-link" href="/logout">Logout</a></li>

              </ul>

           {% endif %}



      </ul>

  </div>

    </nav>

    <title>

        {% block title %}



        {% endblock %} | Auto parts store

    </title>

</head>

    <br>
        <h2>
            {% block content_headline %}



            {% endblock %}
        </h2>


    <p>
        {% block content %}



        {% endblock %}
    </p>

<body>



</body>

</html>
