<!DOCTYPE html>

<html lang="en">

<head>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
          crossorigin="anonymous">

    <link rel="stylesheet" href={{ url_for('static', filename='css/style.css') }}

    <meta charset="UTF-8">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      
      <div class="mx-auto order-0">
          <a class="navbar-brand" href="{{ url_for('welcome_page') }}">Online Store</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse"
                  data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                  aria-expanded="false" aria-label="Toggle navigation">

                      <span class="navbar-toggler-icon"></span>

          </button>
        </div>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">

         {% if not current_user.is_authenticated %}

              <li class="nav-item">

                  <a class="nav-link" href="/login">Log in</a>

              </li>

        {% endif %}


         {% if not current_user.is_authenticated %}

              <li class="nav-item">

                    <a class="nav-link" href="/registration">To Register</a>

              </li>

          {% endif %}

          {% if current_user.has_role('Administrator') %}

              <li class="nav-item">

                    <a class="nav-link" href="/admin">Admin panel</a>

              </li>

           {% endif %}


          {% if current_user.is_authenticated %}

              <li class="nav-item dropdown">

                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Deals</a>

                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">

                        <a class="dropdown-item" href="/buy">Buy</a>

                        <a class="dropdown-item" href="/sell">Sell</a>

                    </div>

              </li>

        {% endif %}


          {% if current_user.is_authenticated %}

              <li><a class="nav-link" href="{{ url_for('cart_page') }}">Shopping Cart</a></li>

          {% endif %}

          {% if current_user.is_authenticated %}

             <ul class="nav navbar-nav">

                 <li><a class="nav-link" href="/logout">Logout</a></li>

              </ul>

           {% endif %}



      </ul>

  </div>

    </nav>

    <title>

        {% block title %}



        {% endblock %} | Auto parts store

    </title>

</head>

    <br>
        <h2>
            {% block content_headline %}



            {% endblock %}
        </h2>


    <p>
        {% block content %}



        {% endblock %}
    </p>

     <footer>
       <div class="container-fluid bg-primary py-3">
         <div class="container">
            <div class="col-sm-11 text-white">
              <div>
                <h4>Online store</h4>
                <p>Author: Alexander Karpenko</p>

                <div class="bg-circle-outline d-inline-block">
              <a href="https://www.facebook.com/"><i class="fa fa-2x fa-fw fa-facebook text-white"></i>
	          	</a>
            </div>

              </div>
            </div>
          </div>
        </div>
     </footer>

     <style>

     footer {
        position: absolute;
        width: 100%;
        height: 100px;
        left: 0;
        bottom: 0;
    }
     </style>

</html>
