{% extends 'prototype.html' %}


{% block title %}

    Statistics

{% endblock %}


{% block content_headline %}

    {% if specific_user not in all_users: %} <!-- What to do if there is no user with this name -->
        This user does not exist

    {% endif %}


    {% if specific_user == current_user %} <!-- What if this is a current user profile -->

    {% else %} <!-- What if this is someone else's profile -->
        {{ specific_user.name }}'s statistics

        {% if current_user.has_role('Administrator') %}
            <form action="{{ url_for('define_statistics', username=specific_user.name) }}", method="POST">
                <button type="submit" class="btn btn-danger">Add to blacklist</button>
            </form>
        {% endif %}
    {% endif %}

    {% if specific_user_products %}
        <h3>Sales history:</h3>

    {% else %}
        <h3>Sales history is empty</h3>

    {% endif %}

     <div class="col-md-10 products">

             <div class="row">

                {% for everyproduct in specific_user_products %}

                     <div class="col-sm-3">

                         <div class="product">

                             <div class="product-img">

                                 <img src="../static/{{ everyproduct[2] + '/' + everyproduct[1] }}">

                             </div>

                             <br>

                             <p class="product-title">

                                 <a href="{{ url_for('buypage.product_link', slug=everyproduct[5]) }}">{{ everyproduct[2] }}</a>

                             </p>

                             <p class="product-desc">{{ everyproduct[3] }}</p>

                             <p class="product-price">Price: ${{ everyproduct[4] }}</p>

                         </div>

                     </div>

                 {% endfor %}

             </div>

         </div>

    {% if specific_user_purchase_history %}
        <h3>Purchase history:</h3>

    {% else %}
        <h3>Purchase history is empty</h3>

    {% endif %}

        <div class="col-md-10 products">

             <div class="row">

                {% for everyproduct in specific_user_purchase_history %}

                     <div class="col-sm-3">

                         <div class="product">

                             <div class="product-img">

                                 <img src="../static/{{ everyproduct[2] + '/' + everyproduct[1] }}">

                             </div>

                             <br>

                             <p class="product-title">

                                 <a>{{ everyproduct[2] }}</a>

                             </p>

                             <p class="product-desc">{{ everyproduct[3] }}</p>

                             <p class="product-price">Price: ${{ everyproduct[4] }}</p>

                         </div>

                     </div>

                 {% endfor %}

             </div>

         </div>

        <style>

        img {
         max-width: 100%;
         width: 750px;
         height: 210px;
         display: block;
         margin:auto;
        }
        .content{
         margin-top: 50px;
        }
        .product {

         background: #fff none repeat scroll 0 0;
         border: 2px solid #c0c0c0;
         height: 410px;
         overflow: hidden;
         padding: 25px 15px;
         position: relative;
         text-align: center;
         transition: all 0.5s ease 0s;
         margin-bottom: 20px;
        }
        .product:hover {
         box-shadow: 0 0 16px rgba(0, 0, 0, 0.5);
        }
        .product-img {
         height: 200px;
        }
        .product-title a {
         color: #000;
         font-weight: 500;
         text-transform: uppercase;
        }
        .product-desc {
         max-height: 60px;
         overflow: hidden;
        }
        .product-price {
         bottom: 15px;
         left: 0;
         position: absolute;
         width: 100%;
         color: #d51e08;
         font-size: 18px;
         font-weight: 500;
        }

        </style>

{% endblock %}


{% block content %}



{% endblock %}