{% extends 'prototype.html' %}


{% block title %}

    Welcome!

{% endblock %}

{% block content %}

      <br /><br /><br /><br />

      <div class="container col-md-8">

        <div class="jumbotron text-center">
          <h1 class="display-3">{% if not current_user.is_authenticated %}
            Hello

          {% else %}
            Hello, {{ current_user.name }}!

          {% endif %}</h1>
          <p class="lead">Welcome to the online store</p>
          <hr class="my-4">
          <p>Here you can sell all the unnecessary and buy useful to you</p>
          <p class="lead">
            <a class="btn btn-primary btn-lg" href="/buy" role="button">Buy</a>
            <a class="btn btn-primary btn-lg" href="/sell" role="button">Sell</a>
          </p>
        </div>

      </div>

{% endblock %}
